.len {
    padding: 10px;
}

li {
    cursor: pointer;
    padding: 10px;

    &:hover {
        border: 2px solid black;
    }

    h5 {
        padding-top: 10px
    }
}

ul {
    padding-left: 10px;
}


// .buttons {
//     padding-bottom: 10px;
// }